@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.todo-active-nav {
  background-color: #000000;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  color: white;
}
.todolistbox {
  min-height: 80vh;
  height: 80vh;
}
.donelistbox {
  min-height: 48vh;
  height: 48vh;
}
.todocard {
  border: 0.5px solid gray;
}
.circle {
  border: 1px solid gray;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.scrolbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ondragItem {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: crosshair;
}
.dragonwork {
  background-image: repeating-linear-gradient(
    -45deg,
    #9a3c3ce3,
    #9a3c3ce3 10px,
    #9a3c3c73 10px,
    #9a3c3c73 20px
  );
}
.pomotimer {
  background: rgba(90, 93, 93, 0.4);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.middlemove {
  animation: movement ease 6s infinite alternate;
  box-shadow: 0px 0px 100px 38px #ffffff;
}
.middlemoverev {
  animation: movementrev ease 6s infinite alternate;
  box-shadow: 0px 0px 100px 38px #6953da;
}

@keyframes movement {
  0% {
    left: -10px;
    top: -10px;
    background-color: #6953da;
  }
  25% {
    left: 60%;
    top: 30%;
    background-color: #ffffff;
  }
  50% {
    left: 30%;
    top: 60%;
    background-color: #6953da;
  }
  100% {
    left: 100%;
    top: 100%;
    background-color: #ffffff;
    padding: 4rem;
  }
}
@keyframes movementrev {
  0% {
    right: -10px;
    bottom: -10px;
    background-color: #6953da;
  }
  25% {
    right: 60%;
    bottom: 30%;
    background-color: #ffffff;
    padding: 4rem;
  }
  50% {
    right: 30%;
    bottom: 60%;
    background-color: #6953da;
  }
  100% {
    right: 100%;
    bottom: 100%;
    background-color: #ffffff;
  }
}
.glassyitem {
  background: rgba(90, 93, 93, 0.4);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  left: 0;
  top: 0;
}
.searchIcon {
  font-size: 1rem;
}
.shopping-cart {
  font-size: 1.6rem;
  margin-left: 1.5rem;
  cursor: pointer;
}
.shopping-cartbox {
  font-size: 2.4rem;
}
.navHeart {
  font-size: 1.6rem;
  cursor: pointer;
}
.shopBox {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.readmorebtn {
  transition: 0.2s;
}
.readmorebtn:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
